// Basic colors
$black: #000;


// icons font unicode characters
$icons: (
	home: "\e600",
    camera: "\e601",
	phone: "\e602",
	mail: "\e603",
	heart: "\e604",
	codeText: "\e605",
	facebook: "\e606",
	twitter: "\e607",
	github: "\e608",
	tumblr: "\e609",
	linkedin: "\e60a"
);

